<section id="candidate-registration" class="h-75vh flex justify-center items-center mx-10 my-10">
    <div class="mx-5 md-mx-l5 px-10 py-10 br-6 border-white w-70pc">
        <div class="flex flex-column">
            <h1 class="white fs-l3 lh-2 md-fs-xl1 md-lh-1 fw-900 text-center">Change Password</h1>
            <div class="h-l2"></div>
            <div class="indigo-lightest fw-100 fs-s1 opacity-50 my-2" style="text-align: justify;">
                Congratulations! You've been accepted into our pre-candidate form. To advance further, simply change your password by filling out the form below. This brings you closer to future opportunities. Keep up the great work on your musical journey!
            </div>
            <form (ngSubmit)="onSubmit()" #candidateForm="ngForm">
                <div class="flex flex-column">
                    <div class="br-8 mt-10 flex flex-column w-100pc">
                        <input type="password"
                            class="input-lg bw-0 fw-200 bg-indigo-lightest-10 white ph-indigo-lightest focus-white opacity-80 fs-s3 py-5 w-auto"
                            placeholder="New Password" [(ngModel)]="password" name="password"
                            required>
                    </div>
                    <div class="h-7"></div>
                    <button type="submit"
                        class="button-lg bg-indigo-lightest-20 indigo-lightest focus-white fs-s3 mr-0 min-w-25vw">Change Password</button>
                </div>
            </form>
        </div>
    </div>
</section>
