<section id="condidat-list" class="w-100vw">
    <div class="p-10 w-100pc flex justify-center">
        <div class="table-container text-center cell-border">
            <table class="bg-indigo-lightest-10 bc-white white">
                <thead class="bg-indigo-lightest-30 white">
                    <tr>
                        <th>Date</th>
                        <th>Heure Debut </th>
                        <th>Heure Fin</th>
                       
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let audition of auditions">
                        <td>{{ audition.date}}</td>
                        <td>{{ audition.heureDebut }}</td>
                        <td>{{ audition.heureFin }}</td>
                        <td>
                            <a class="button bg-indigo white fw-600 no-underline mr-5" (click)="AddAudition(audition._id)">Add Audition</a>
                            <a class="button bg-white black fw-600 no-underline" (click)="deleteAudition(audition)">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
