<section id="leave-of-absence" class="h-100vh w-100vw flex justify-center items-center">
    <div class="mx-5 md-mx-l5 px-10 py-10 br-6 border-white w-25pc">
        <div class="flex flex-column w-100pc">
            <h1 class="white fs-l3 lh-2 md-fs-xl1 md-lh-1 fw-900 text-center">Leave of absence</h1>
            <form (ngSubmit)="onSubmit()" #leaveForm="ngForm">
                <div class="h-7"></div>
                <input type="date"
                    class="input-lg bw-0 fw-200 bg-indigo-lightest-10 white ph-indigo-lightest focus-white opacity-80 fs-s3 py-5 w-100pc"
                    placeholder="Start Date" [(ngModel)]="Datedebut" name="startDate" required>
                <div class="h-7"></div>
                <input type="date"
                    class="input-lg bw-0 fw-200 bg-indigo-lightest-10 white ph-indigo-lightest focus-white opacity-80 fs-s3 py-5 w-100pc"
                    placeholder="End Date" [(ngModel)]="DateFin" name="endDate" required>
                <div class="h-7"></div>
                <button type="submit" [disabled]="leaveForm.invalid"
                    class="button-lg bg-indigo-lightest-20 indigo-lightest focus-white fs-s3 mr-0 w-100pc">Save</button>
            </form>
        </div>
    </div>
</section>