<section id="account-acceptation" class="h-100vh w-100vw flex justify-center items-center">
    <div class="mx-5 md-mx-l5 px-10 py-10 br-6 border-white w-auto">
        <div class="flex flex-column">
            <h1 class="white fs-l3 lh-2 md-fs-xl1 md-lh-1 fw-900 text-center">Add<br>*******</h1>
            <form (ngSubmit)="onSubmit()" #acceptationForm="ngForm">
                <div class="h-7"></div>
                <input type="number"
                    class="input-lg bw-0 fw-200 bg-indigo-lightest-10 white ph-indigo-lightest focus-white opacity-80 fs-s3 py-5 w-100pc"
                    placeholder="Sporano" [(ngModel)]="sop" name="sop" required>
                <div class="h-7"></div>
                <input type="number"
                    class="input-lg bw-0 fw-200 bg-indigo-lightest-10 white ph-indigo-lightest focus-white opacity-80 fs-s3 py-5 w-100pc"
                    placeholder="Alto" [(ngModel)]="alt" name="alt" required>
                <div class="h-7"></div>
                <input type="number"
                    class="input-lg bw-0 fw-200 bg-indigo-lightest-10 white ph-indigo-lightest focus-white opacity-80 fs-s3 py-5 w-100pc"
                    placeholder="Tenor" [(ngModel)]="ten" name="ten" required>
                <div class="h-7"></div>
                <input type="number"
                    class="input-lg bw-0 fw-200 bg-indigo-lightest-10 white ph-indigo-lightest focus-white opacity-80 fs-s3 py-5 w-100pc"
                    placeholder="Base" [(ngModel)]="bas" name="bas" required>
                <div class="h-7"></div>
                <button type="submit" [disabled]="acceptationForm.invalid"
                    class="button-lg bg-indigo-lightest-20 indigo-lightest focus-white fs-s3 mr-0 w-100pc">Add</button>
            </form>
        </div>
    </div>
</section>