<!-- Form -->
<section id="candidate-registration" class="h-75vh flex justify-center items-center mx-10 my-10">
    <div class="mx-5 md-mx-l5 px-10 py-10 br-6 border-white w-70pc">
        <div class="flex flex-column">
            <h1 class="white fs-l3 lh-2 md-fs-xl1 md-lh-1 fw-900 text-center">Candidate Registration</h1>
            <div class="h-l2"></div>
            <div class="indigo-lightest fw-100 fs-s1 opacity-50 my-2" style="text-align: justify;">
                Congratulations! You've been accepted into our pre-candidate form. To advance further, simply fill out
                the candidate form. This brings you closer to future opportunities. Keep up the great work on your
                musical journey!
            </div>
            <form (ngSubmit)="onSubmit()" #candidateForm="ngForm">
                <div class="flex flex-column">
                    <div class="flex flex-row">
                        <div class="br-8 mt-10 flex flex-column mr-5 w-50pc">
                            <input type="text"
                                class="input-lg bw-0 fw-200 bg-indigo-lightest-10 white ph-indigo-lightest focus-white opacity-80 fs-s3 py-5 w-auto"
                                placeholder="email" [(ngModel)]="email" name="socialNumber"
                                required>
                            <div class="h-7"></div>
                            <div class="flex flex-row justify-between">
                                <input type="text"
                                    class="input-lg bw-0 fw-200 bg-indigo-lightest-10 white ph-indigo-lightest focus-white opacity-80 fs-s3 py-5 mr-5 w-50pc"
                                    placeholder="prenom" [(ngModel)]="prenom" name="firstName" required>
                                <input type="text"
                                    class="input-lg bw-0 fw-200 bg-indigo-lightest-10 white ph-indigo-lightest focus-white opacity-80 fs-s3 py-5 w-50pc"
                                    placeholder="nom" [(ngModel)]="nom" name="lastName" required>
                            </div>
                            <div class="h-7"></div>
                            <input type="email"
                                class="input-lg bw-0 fw-200 bg-indigo-lightest-10 white ph-indigo-lightest focus-white opacity-80 fs-s3 py-5 w-auto"
                                placeholder="cin" [(ngModel)]="cin" name="email" required email>
                        </div>
                        <div class="br-8 mt-10 flex flex-column w-50pc">
                            <div class="flex flex-row justify-between">
                                <select
                                    class="input-lg bw-0 fw-200 bg-indigo-lightest-10 white ph-indigo-lightest focus-white opacity-80 fs-s3 py-5 mr-5 w-50pc"
                                    [(ngModel)]="sexe" name="gender" required>
                                    <option value="" disabled selected>Sexe</option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                    <option value="other">Other</option>
                                </select>
                                <div class="h-7"></div>
                                <input type="date"
                                    class="input-lg bw-0 fw-200 bg-indigo-lightest-10 white ph-indigo-lightest focus-white opacity-80 fs-s3 py-5 w-50pc"
                                    placeholder="Birthday" [(ngModel)]="dateNaissance" name="birthday" required>
                                <input type="text"
                                    class="input-lg bw-0 fw-200 bg-indigo-lightest-10 white ph-indigo-lightest focus-white opacity-80 fs-s3 py-5 ml-5 w-50pc"
                                    placeholder="Nationality" [(ngModel)]="Nationalite" name="nationality" required>
                            </div>
                            <div class="h-7"></div>
                            <div class="flex flex-row justify-between">
                                <input type="number"
                                    class="input-lg bw-0 fw-200 bg-indigo-lightest-10 white ph-indigo-lightest focus-white opacity-80 fs-s3 py-5 mr-5 w-50pc"
                                    placeholder="taille (cm)" [(ngModel)]="taille" name="height" required>
                                <input type="tel"
                                    class="input-lg bw-0 fw-200 bg-indigo-lightest-10 white ph-indigo-lightest focus-white opacity-80 fs-s3 py-5 w-50pc"
                                    placeholder="telephone" [(ngModel)]="telephone" name="phone" required>
                                    
                            </div>
                            <div class="h-7"></div>
                            <select
                                class="input-lg bw-0 fw-200 bg-indigo-lightest-10 white ph-indigo-lightest focus-white opacity-80 fs-s3 py-5 w-auto"
                                [(ngModel)]="situationPro" name="professionalSituation" required>
                                <option value="" disabled selected>situationPro </option>
                                <option value="employed">Employed</option>
                                <option value="unemployed">Unemployed</option>
                                <option value="student">Student</option>
                                <option value="freelancer">Freelancer</option>
                                <!-- Add more options as needed -->
                            </select>
                        </div>
                    </div>
                    <div class="h-7"></div>
                    <button type="submit" 
                        class="button-lg bg-indigo-lightest-20 indigo-lightest focus-white fs-s3 mr-0 min-w-25vw">Register</button>
                </div>
            </form>
        </div>
    </div>
</section>